@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbc0d3;
  font-family: "Open Sans", sans-serif;
}
ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
.icon {
  font-size: 2rem;
}
body {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 1fr 200px;
  grid-template-areas:
    "nav contenido"
    "nav footer";
}
/*--------> Navegacion*/
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: nav;
  background-color: #ffffff2f;
  padding: 5% 20px;
  text-align: center;
  max-width: 450px;
  max-height: 100%;
}
.contenedor-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  width: 100%;
  gap: 5px;
}
nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 100%;
  flex-grow: 3;
}
nav li {
  font-size: 1.2rem;
  width: 100%;
  background-color: #ffffff4d;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  margin: 20px 0;
  gap: 3px;
  font-size: 0.8rem;
}
nav li:hover {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
}
nav button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 4px;
}
nav i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 3px;
  padding: 10px;
  border-radius: 50%;
}

.btn-libro-add:hover,
.btn-categoria-add:hover,
.btn-autor-add:hover,
.btn-editorial-add:hover {
  box-shadow: 1px 2px 5px 0px #58b645d3;
}
.btn-libro-edit:hover,
.btn-categoria-edit:hover,
.btn-autor-edit:hover,
.btn-editorial-edit:hover {
  box-shadow: 1px 2px 5px 0px #3d4ee9d3;
}
.btn-libro-delete:hover,
.btn-categoria-delete:hover,
.btn-autor-delete:hover,
.btn-editorial-delete:hover {
  box-shadow: 1px 2px 5px 0px #dd0909d3;
}
/*--------> Main*/
#contenedorTodo {
  grid-area: contenido;
  width: 100%;
  padding: 5px 20px;
  height: 90vh;
  max-height: 90vh;
  flex-grow: 3;
  overflow: hidden;
  background-color: #ffffff18;
  overflow: auto;
  scroll-behavior: smooth;
}
.contenedorHero {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.contenedorBusqueda {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin: 25px 0 5px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.contenedorBusqueda label {
  margin-right: 10px;
}
.contenedorBusqueda input,
.contenedorBusqueda input:focus {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}
/*--------> ScrollBar */
::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffffd7;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbc0d3ad;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cbc0d3;
}
/*--------> carta libros */
.contenedorLibros {
  min-height: 300px;
  max-height: 350px;
  width: 100%;
  margin: auto;
  padding: 25px 5px;
  gap: 20px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-grow: 3;
  /* background-color: #ffffff70; */
}
.contenedorLibro {
  background-color: transparent;
  height: 290px;
  min-width: 200px;
  width: 230px;
  max-width: 500px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.img-card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  filter: brightness(87%);
}
.bio {
  opacity: 0;
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #fff;
  width: 100%;
  border-radius: 0 0 15px 15px;
}
.contenedorLibro:hover .img-card {
  transform: scale(1.09);
  transition: 0.5s all ease-in-out;
  filter: brightness(100%);
}
.contenedorLibro:hover .bio {
  opacity: 1;
  width: 100%;
  transition: 0.5s all ease;
  background-color: #000000;
}
.contenedorLibro h3 {
  font-size: 1rem;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*--------> Contenedor Informacion*/

.contenedorInformacion {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-grow: 2;
}
/*--------> Contenedor Autores*/
.contenedorAutores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 15px 0 0 0;
}
.contenedorAutores h4 {
  width: 100%;
  height: 35px;
  text-align: center;
  padding: 5px 0;
  font-size: 1.2rem;
}
.contenedorAutoresInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: 150px;
  flex-grow: 1;
  padding: 15px 0 0 0;
  gap: 5px 10px;
}
.contenedorAutor {
  background-color: #ffffff8c;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  width: 130px;
  height: 100px;
  padding: 10px;
  margin: 25px 10px;
  border-radius: 20px;
  position: relative;
}
.contenedorImg {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -30%;
  left: 20%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.contenedorImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedorInfoAutor {
  width: 100%;
  text-align: center;
  margin-top: 40%;
}
.contenedorInfoAutor h2 {
  font-size: 1rem;
  font-family: inherit;
}
.contenedorInfoAutor h5 {
  font-size: 0.7rem;
  font-family: inherit;
}

/*--------> Contenedor Categorias*/

.contenedorCategorias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 15px 0 0 0;
}

.contenedorCategoriasInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: 150px;
  flex-grow: 1;
  padding: 15px;
  margin-top: 20px;
  gap: 30px 10px;
}
.contenedorCategoria {
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 10px;
}
.contenedorCategoria img {
  font-size: 2.5rem;
  width: 70%;
  height: 70%;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
}

.contenedorCategoria:hover {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
/*--------> Footer*/
footer {
  grid-area: footer;
  width: 98%;
  margin: 0 auto;
  height: 50px;
  flex-grow: 1;
  text-align: center;
}

/*----------------------------------> Pagina Libros*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bb;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}
.modalShow {
  opacity: 1;
  pointer-events: unset;
}

.contenedorFormularioLibros {
  background-color: #f7f6f6;
  min-width: 350px;
  min-height: 250px;
  max-width: 650px;
  max-height: 650px;
  border-radius: 25px;
  padding: 20px 30px 0;
  text-align: center;
}
.contenedorFormularioLibros h3 {
  font-size: 1.7rem;
  margin: 0 5px;
}
.formularioLibros {
  width: 100%;
  height: 90%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedorInput {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 3px;
  margin: 10px;
}
.contenedorInput label {
  font-size: 1rem;
  font-weight: 600;
}
.contenedorInput input, .contenedorInput select{
  font-size: 1rem;
  font-weight: 600;
  width: 60%;
  border: 0.3px solid #0000003f;
  height: 90%;
  padding: 5px;
  border-radius: 7px;
  margin-left: 15px;
  font-family: inherit;
}
.boton {
  background-color: #94da86;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-weight: 500;
}
.boton:hover {
  background-color: #73cf61;
  border: none;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.botonCerrar {
  background-color: #df6676;
  padding: 10px;
  width: 50px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
}
.botonCerrar:hover {
  background-color: #e7465b;
  border: none;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
